<header>
	<div class="container">
		<nav class="nav navbar-nav navbar-left">
		</nav>
		<ul class="nav navbar-nav navbar-right" style="margin-top: 30px;">
        	<% if user_signed_in? %>

	         	<!--ユーザーがログインしている時 -->
	         	<li style="font-family: serif; margin-top: 15px;">
	            <!-- ようこそ、<%= current_user.name %>さん！ -->
	         	</li>
	          	<li><%= link_to "マイページ", user_path(current_user), style: "font-family: HiraMinPro-W6; color: #999999" %></li>

	          	<li><%= link_to "ユーザー一覧", users_path, style: "font-family: HiraMinPro-W6; color: #999999" %></li>

		        <li><%= link_to "新プロジェクト", new_project_path, style: "font-family: HiraMinPro-W6; color: rgba(200, 0, 0, 0.8)" %></li>

		        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "font-family: HiraMinPro-W6; color: #999999;" %></li>

	        <% else %>

	          	<!-- ログインしていない時 -->
	         	<li style="font-size: 20px;"><%= link_to "Top", root_path, style: "font-family: HiraMinPro-W6; color: #CCCCCC;" %></li>

	          	<li style="font-size: 20px;"><%= link_to "新規登録", new_user_registration_path, style: "font-family: HiraMinPro-W6; color: #FFCC66;" %></li>

	          	<li style="font-size: 20px;"><%= link_to "ログイン", new_user_session_path, style: "font-family: HiraMinPro-W6; color: #8EB8FF" %></li>

        	<% end %>

      	</ul>
	</div>
</header>