<header>
	<div class="container">
		<nav class="nav navbar-nav navbar-left">
		</nav>
		<ul class="nav navbar-nav navbar-right" style="margin-top: 30px;">
        	<% if user_signed_in? %>

	         	<!--ユーザーがログインしている時 -->
	         	<li style="font-family: serif; margin-top: 15px;">
	            <!-- ようこそ、<%= current_user.name %>さん！ -->
	         	</li>
	          	<li><%= link_to "マイページ", user_path(current_user), style: "font-family: HiraMinPro-W6; color: #40E0D0;" %></li>

	          	<li><%= link_to "ユーザー一覧", users_path, style: "font-family: HiraMinPro-W6; color: #40E0D2;" %></li>

		        <li><%= link_to "新プロジェクト", new_project_path, style: "font-family: HiraMinPro-W6; color: #FF82B2;" %></li>

		        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "font-family: HiraMinPro-W6; color: #2DFF57;" %></li>

	        <% else %>

	          	<!-- ログインしていない時 -->
	         	<li><%= link_to "Top", root_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>

	          	<li><%= link_to "新規登録", new_user_registration_path, style: "font-family: HiraMinPro-W6; color: #FF1493;" %></li>

	          	<li><%= link_to "ログイン", new_user_session_path, style: "font-family: HiraMinPro-W6; color: #CD5C5C;" %></li>

        	<% end %>

      	</ul>
	</div>
</header>