<div id="header">
  <%= render "header" %>
</div>

<h2 style="color: #777777; text-align: center;">ユーザー情報</h2>
<div class="container edit-user", style="height: 500px; padding-top: 50px;">
  <br>
  <%= form_for(@user) do |f| %>
    <%= render 'layouts/errors', obj: @user %>
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-2", style="color: #777777; font-size: 16px;" >
        <%= f.label :名前 %>
      </div>
      <div class="col-xs-3">
        <%= f.text_field :name %>
      </div>
      <div class="col-xs-3">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-2", style="color: #777777; font-size: 16px;" >
        <%= f.label :ユーザー画像 %>
      </div>
      <div class="col-xs-3">
        <%= f.attachment_field :image %>
      </div>
      <div class="col-xs-3">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-2", style="color: #777777; font-size: 16px;" >
        <%= f.label :紹介文 %>
      </div>
      <div class="col-xs-3">
        <%= f.text_area :introduce %>
      </div>
      <div class="col-xs-3">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="actions", style="text-align: center; font-size: 16px;">
        <%= f.submit value="ユーザー情報を更新する" %>
      </div>
    </div>

    <br>

    <!-- 退会ボタン -->
    <div class="row">
      <div class="actions", style="text-align: center;">
        <%= link_to user_path, method: :delete, data: { confirm: '本当に退会しますか？' }  do %>
          退会する
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<div class="footer">
  <%= render "tops/footer" %>
</div>