<div id="header">
	<%= render "users/header" %>
</div>

<div class="body">
	<div class="container user_index">
		<h3  style="color: #777777;">ユーザー一覧</h3>
		<table class="table table-hover table-inverse">
  			<thead>
			    <tr>
				   	<th style="color: #777777;"></th>
				    <th style="color: #777777;">名前</th>
				    <th style="color: #777777;">レベル</th>
				    <th></th>
				    <th></th>
				    <th></th>
				    <th></th>
				    <th style="color: #777777;">最近のログイン日時</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				    <tr>
				    	<td><%= attachment_image_tag user, :image, :fill, 35, 35, format: 'jpeg', fallback: "no_image.jpg", size:'35x35' %></td>
					    <td><%= user.name %></td>

					    <%= render "user-level", user: user %>

					    <td>フォロー：<%= user.follower.count %></td>
				        <td>フォロワー：<%= user.followed.count %></td>
				        <td>
				        	<% unless user == current_user %>
					    	    <% if current_user.following?(user) %>
					            	<%= link_to 'フォローを外す', unfollow_path(user.id,redirect_id: 0), method: :POST %>
					            <% else %>
					            	<%= link_to 'フォローする', follow_path(user.id,redirect_id: 0), method: :POST %>
					            <% end %>
					        <% end %>
					    </td>
					    <td><%= link_to "ユーザー詳細", user_path(user.id) %>
					    </td>
					    <td>
				        	<%= user.current_sign_in_at %>
				        </td>
					</tr>
				<% end %>
			</tbody>
			<div style="text-align: center;"><%= paginate @users %></div>
		</table>
	</div>
</div>

<div class="footer">
	<%= render "tops/footer" %>
</div>