<div id="header">
	<%= render "header" %>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3", style="height: 600px;">
			<div class="profile">
				<table class='table'>
					<br>
      				<tr><%= attachment_image_tag(@user, :image, :fill, 150, 100, fallback: "no_image.jpg", size:'150×150') %></tr> 
      				<tr>
    	  				<th>name</th>
    	  				<th><%= @user.name %></th>
      				</tr>
      				<tr>
			    	  <th>introduction</th>
			    	  <th><%= @user.introduce %></th>
				    </tr>
      				<tr>
			    	  <th>level</th>
			    	  <th><%= @user.level %></th>
				    </tr>
      				<tr>
			    	  <th>モニュメント</th>
				    </tr>
				</table>

  				<div class="follow">
					<% if @user == current_user %>
						<%= link_to edit_user_path(@user.id) do %>
							<div class="btn btn-default col-xs-12 glyphicon glyphicon-wrench" ></div>
						<% end %>
					<% else %>
						<% if current_user.following?(@user) %>
	       					<%= link_to 'フォロー外す', unfollow_path(@user.id,redirect_id: 0), method: :POST, class: 'btn btn-danger btn-block col-xs-12' %>
	    				<% else %>
	       					<%= link_to 'フォローする', follow_path(@user.id,redirect_id: 0), method: :POST, class: 'btn btn-primary btn-block col-xs-12'%>
	    				<% end %>
					<% end %>
				</div>

			</div>
		</div>

		<div class="col-xs-9", style="background-color: white; height: 1000px;">
			<div class="main_contents">
					<% @project_for_graph.each do |project_id , data| %>
						<div class="col-xs-5">
							<br>
							<%= link_to project_path(project_id) do %>
								<%= @title_for_graph[project_id] %>
								<%= column_chart data, colors: ['#AAAAAA']%>
							<% end %>
						</div>
					<% end %>

			</div>

		</div>
	</div>
</div>
