<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row", style="color: #777777; font-size: 18px;">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-2">
      <%= form.label :プロジェクト名 %>
    </div>
    <div class="field col-xs-3">
      <%= form.text_field :name %>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <div class="row", style="color: #777777; font-size: 18px;">
    <div class="col-xs-4">
    </div>
    <div class="field col-xs-2">
      <%= form.label :目標 %>
    </div>
    <div class="field col-xs-3">
      <%= form.text_field :goal %>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <div class="row", style="color: #777777; font-size: 18px;">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-2">
      <%= form.label :期間 %>
    </div>
    <div class="col-xs-6">
      <%= form.date_select :period %>
      ~<%= form.date_select :end_of_period %>
    </div>
  </div>

  <div class="row">
    <div class="actions" style="text-align: center; padding-top: 20px; font-size: 18px;">
      <%= form.submit value="新プロジェクトを始める" %>
    </div>
  </div>

<% end %>
