<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-4">
    <%= form.label :プロジェクト名 %>
  </div>
  <div class="field col-xs-8">
    <%= form.text_field :name %>
  </div>

  <div class="field col-xs-4">
    <%= form.label :目標 %>
  </div>
  <div class="field col-xs-8">
    <%= form.text_field :goal %>
  </div>

  <div class="field col-xs-4">
    <%= form.label :期間 %>
  </div>
  <div class="field col-xs-8">
    <%= form.date_select :period %>
    <br><br>
    　~<%= form.date_select :end_of_period %>
  </div>

  <div class="actions" style="text-align: center; color: rgba(200, 0, 0, 0.8); ">
      <%= form.submit value="新プロジェクトを始める" %>
  </div>

<% end %>
