<h1>Editing Project</h1>

<br>

<div class="field">
  <h4 style="color: red;">プロジェクト名</h4>
  <%= @project.name %>
</div>

<div class="field">
  <h4 style="color: red;">目標</h4>
  <%= @project.goal %>
</div>

<div class="field">
  <h4 style="color: red;">期間</h4>
  <%= @project.period %>~<%= @project.end_of_period %>
</div>


<%= form_with(model: @project_datum, local: true) do |form| %>
  <% if @project_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_datum.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :時間 %>
    <%= form.number_field :hour %>
  </div>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
