<div id="header">
  <%= render "users/header" %>
</div>

<div class="container project_edit_container">

  <div class="row">
    <h1 style="color: #777777; text-align: center;" >プロジェクト編集</h1>
  </div>

  <br>

  <div class="row", style="color: #666666; padding-top: 30px; ">
    <div class="col-xs-6 col-xs-offset-3" style="font-size: 18px;">
      <%= form_with(model: @project, local: true) do |form| %>
        <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
            <% project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field col-xs-4">
          <%= form.label :プロジェクト名 %> 
        </div>
        <div class="field col-xs-8">
          <%= form.text_field :name %>
        </div>

        <div class="field col-xs-4">
          <%= form.label :目標 %> 
        </div>
        <div class="field col-xs-8">
          <%= form.text_field :goal %>
        </div>

        <div class="field col-xs-4">
          <%= form.label :期間 %>
        </div>
        <div class="field col-xs-8">
          <%= form.date_select :period %>
          <br>
          ~<%= form.date_select :end_of_period %>
        </div>

        <br>

        <div class="actions", style="text-align: center;">
          <%= form.submit value="プロジェクトを更新する" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <%= render "tops/footer" %>
</div>
