<div id="header">
  <%= render "users/header" %>
</div>

<div class="container project_index_container">
  <div class="row">
    <h1 style="color: #777777; text-align: center; ">プロジェクト</h1>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table">
        <thead>
          <tr class="table-light">
            <th style="color: #777777; font-size: 18px;">プロジェクト名</th>
            <th style="color: #777777; font-size: 18px;">目標</th>
            <th style="color: #777777; font-size: 18px;">期間</th>
            <th style="color: #777777; font-size: 18px;">総合計時間</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td style="font-size: 16px;"><%= project.name %></td>
              <td style="font-size: 16px;"><%= project.goal %></td>
              <td style="font-size: 16px;"><%= project.period.to_date %> 〜 <%= project.end_of_period.to_date %></td>
              <td style="font-size: 16px;"><%= project.project_data.all.sum(:hour) %>時間</td>
              <td style="font-size: 16px;"><%= link_to '詳細', project %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="text-align: center;"><%= paginate @projects %></div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<div class="footer">
  <%= render "tops/footer" %>
</div>
