<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @project.hour %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Period:</strong>
  <%= @project.period %>~<%= @project.end_of_period %>
</p>

<p>
  <strong>Level:</strong>
  <%= @project.level %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
