<div id="header">
  <%= render "users/header" %>
</div>

<div class="container project_edit_container">

  <div class="row">
    <h1 style="color: #777777; text-align: center;">記録時間を編集する</h1>
  </div>

  <br>

  <div class="row">
    
    <%= form_with(model: @project_datum, local: true) do |form| %>
      <% if @project_datum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_datum.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project_datum.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row", style="color: #777777; padding-top: 20px; font-size: 18px;">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
          <%= form.label :プロジェクト名 %>
        </div>
        <div class="field col-xs-3">
          <%= @project_datum.project.name %>
        </div>
        <div class="col-xs-3">
        </div>
      </div>

      <div class="row", style="color: #777777; font-size: 18px;">
        <div class="col-xs-4">
        </div>
        <div class="field col-xs-2">
          <%= form.label :日付 %>
        </div>
        <div class="field col-xs-3">
          <%= form.date_select :date %>
        </div>
        <div class="col-xs-3">
        </div>
      </div>

      <div class="row", style="color: #777777; font-size: 18px;">
        <div class="col-xs-4">
        </div>
        <div class="field col-xs-2">
          <%= form.label :時間 %>
        </div>
        <div class="field col-xs-3">
          <%= form.number_field :hour %>
        </div>
        <div class="col-xs-3">
        </div>
      </div>

      <br>

      <div class="actions", style="text-align: center; font-size: 18px;">
        <%= form.submit value="記録を更新する" %>
      </div>

    <% end %>
  </div>
</div>

<div class="footer">
  <%= render "tops/footer" %>
</div>
