<div id="header">
  <%= render "users/header" %>
</div>

<div class="container project_edit_container">

  <div class="row">
    <h1>Editing Project</h1>
  </div>

  <div class="row">
    
    <%= form_with(model: @project_datum, local: true) do |form| %>
      <% if @project_datum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_datum.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project_datum.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :日付 %>
        <%= form.date_select :date %>
      </div>

      <div class="field">
        <%= form.label :時間 %>
        <%= form.number_field :hour %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>
