<div id="header">
  <%= render "users/header" %>
</div>

<div class="container project_datum_new_container">

  <div class="row">
    <h1 style="color: #777777; text-align: center;">今日の記録</h1>
  </div>

  <div class="row", style="color: #666666;">
    <div class="col-xs-6 col-xs-offset-3" style="font-size: 18px;">
      <%= form_with(model: @project_datum, local: true) do |form| %>
        <% if @project_datum.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@project_datum.errors.count, "error") %> prohibited this project from being saved:</h2>
            <ul>
              <% @project_datum.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= hidden_field_tag :project_id, @project.id %>
        </div>

        <div class="field">
          <%= form.label :プロジェクト名 %>：
          <%= @project.name %>
        </div>

        <div class="field">
          <%= form.label :目標 %>：
          <%= @project.goal %>
        </div>

        <div class="field">
          <%= form.label :期間 %>：
          <%= @project.period.to_date %> ~ <%= @project.end_of_period.to_date %>
        </div>

        <div class="field">
          <%= form.label :時間 %>　
          <%= form.number_field :hour %>
        </div>

        <div class="field">
          <%= form.label :日付 %>　
          <%= form.date_select :date %>
        </div>

        <br>

        <div class="actions", style="text-align: center;">
          <%= form.submit value="記録する" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <%= render "tops/footer" %>
</div>